<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    {% extends 'base.html' %}
    
    {% block content %}
    
    <h3 class="text-center">EXPERIENCIA LABORAL</h3><br>
    <div class="row p-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                    <h5 class="text-center">Coomeva Entidad Promotora de Salud</h5>
                    <h5>Area de Infraestructura Y Tecnologia</h5>
                    <ul>
                        
                        <h6>Responsabilidades:</h6>
                        <li>Instalación y configuración de software y hardware en sistemas operativos Windows y Linux</li>
                        <li>Resolución de problemas técnicos, registro y seguimiento de incidencias.</li>
                        <li>Atención, soporte remoto y en sitio a los clientes internos de la organización a nivel nacional para el funcionamiento de la infraestructura tecnológica.</li>
                        <li>Diseño de páginas web en lenguajes de programación Python, Django HTML, CSS.</li><br>
                        
                      </ul> 
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                    <h5 class="text-center">Policia Nacional de Colombia</h5>
                    <h5>Administrador de sistemas de informacion</h5>
                    <ul>
                        
                        <h6>Responsabilidades:</h6>
                        <li>Administrador de sistemas de informacion estratégica ARGIS.</li>
                        <li>PGestión administrativa documental y recursos humanos (SIVICC y SUNAMI).</li>
                        <li>Seguimiento y auditoría Interna a los planes de mejoramiento interno de la organización.</li>
                        <li>Desarrollo y seguimiento a la estrategia de identificación y atención a puntos críticos FIP.</li>
                        <li>Gestión equipos centro de Información Estratégico Policial CIEPS.</li>
                        
                      </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

</body>
</html>