body{
    background: rgb(234, 239, 239) !important;
}

.lista-sin-viñetas {
    list-style-type: none; /* Elimina las viñetas */
  }

  body {
    padding-top: 56px; /* Ajusta según la altura del navbar */
  }